{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="min-h-full flex flex-col justify-center py-8 sm:px-6 lg:px-8">
        <div class="-mt-0">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto h-12 w-auto" src="{{ asset('build/images/logo.svg') }}" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    {{ 'account.login.title'|trans({'%companyName%': companyName}) }}
                </h2>
            </div>

            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form class="space-y-6" action="{{ url('login') }}" method="post">
                        <input type="hidden" name="_target_path" value="/login/oidc">

                        <div>
                            <label for="username" class="block text-sm font-medium text-gray-700">
                                {{ 'account.login.username'|trans }}
                            </label>
                            <div class="mt-1">
                                <input id="username" name="_username" type="text" autocomplete="username" value="{{ lastUsername }}" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div>
                            <label for="password" class="block text-sm font-medium text-gray-700">
                                {{ 'account.login.password'|trans }}
                            </label>
                            <div class="mt-1">
                                <input id="password" name="_password" type="password" autocomplete="current-password" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                            </div>
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                {{ 'account.login.no_account'|trans }}
                                <a href="{{ url('register') }}" class="font-medium text-indigo-600 hover:text-indigo-500">{{ 'account.login.register'|trans }}</a>
                            </div>
                        </div>

                        <div class="flex items-center justify-between">
                            <div class="text-sm">
                                <a href="{{ url('forgotten_password') }}" class="font-medium text-indigo-600 hover:text-ingido-500">
                                    {{ 'account.password.forgotten'|trans }}
                                </a>
                            </div>
                        </div>

                        <div>
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                {{ 'account.login.sign_in'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
